<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.BoardMapper">

	<sql id="criteria">
     <where>
	     <foreach item="type" separator="OR" collection="typeArr">
	     	<choose>
	     		<when test='type == "T"'>
	     			b.title LIKE CONCAT('%', #{keyword}, '%')
	     		</when>
	     		<when test='type == "W"'>
	     			b.writer LIKE CONCAT('%', #{keyword}, '%')
	     		</when>
	     		<when test='type == "C"'>
	     			b.content LIKE CONCAT('%', #{keyword}, '%')
	     		</when>
	     	</choose>
	     </foreach>
     </where>	
	</sql>



  <select id="getList" resultType="org.zerock.domain.BoardVO">
    
    <![CDATA[
    
    SELECT 
    	bno bno,
    	title title,
    	content content,
    	writer writer,
    	regdate regdate,
    	updatedate updateDate
    
     FROM tbl_board
     
     WHERE bno > 0 ORDER BY bno DESC
     
    ]]>
    
  </select>
  
  <select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">

    SELECT 
    	b.bno bno,
    	b.title title,
    	b.content content,
    	b.writer writer,
    	b.regdate regdate,
    	b.updatedate updateDate,
    	m.username writerName,
    	count(r.rno) replyCnt
     FROM tbl_board b LEFT JOIN tbl_reply r ON b.bno = r.bno
                     INNER JOIN tbl_member m ON b.writer = m.userid

	<include refid="criteria"></include>
	 GROUP BY b.bno
     ORDER BY b.bno DESC
     LIMIT #{from}, #{amount}

  </select>
  
  <select id="getTotalCount" resultType="int">
  SELECT COUNT(*) FROM tbl_board b
  <include refid="criteria"></include>
  </select>
  
  <insert id="insert">
  	INSERT INTO tbl_board (title, content, writer) 
  	VALUES (#{title}, #{content}, #{writer})
  </insert>
  
  <insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno">
  	INSERT INTO tbl_board (title, content, writer)
  	VALUES (#{title}, #{content}, #{writer})
  </insert>
  
  <select id="read" resultType="org.zerock.domain.BoardVO">
  	SELECT 
  	 b.bno bno,
  	 b.title title,
  	 b.content content,
  	 b.writer writer,
  	 b.regdate regdate,
  	 b.updatedate updateDate,
  	 f.fileName fileName,
  	 m.username writerName
  	FROM tbl_board b LEFT JOIN tbl_board_file f ON b.bno = f.bno
  	                      JOIN tbl_member m ON b.writer = m.userid
  	WHERE b.bno = #{bno}
  </select>
  
  <delete id="delete">
  	DELETE FROM tbl_board WHERE bno = #{bno}
  </delete>
  
  <update id="update">
  	UPDATE tbl_board
  	
  	SET
  	    title = #{title}, 
  	    content = #{content},
  	    writer = #{writer},
  	    updateDate = NOW()
  	    
  	WHERE
  	    bno = #{bno}
  
  </update>
  
  <delete id="removeByUserid">
  DELETE FROM tbl_board
  WHERE writer = #{userid}
  </delete>
  
</mapper>











