<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.MemberMapper">

	<delete id="removeAuth">
	DELETE FROM tbl_member_auth
	WHERE userid = #{userid}
	</delete>

	<delete id="remove">
	DELETE FROM tbl_member
	WHERE userid = #{userid}
	</delete>

  <update id="update">
  UPDATE tbl_member
  SET userpw = #{userpw},
      userName = #{userName},
      updatedate = now()
  WHERE
      userid = #{userid}
  
  </update>

  <insert id="insert">
  	INSERT INTO tbl_member
  	(userid, userpw, username)
  	VALUES 
  	(#{userid}, #{userpw}, #{userName})
  </insert>
  
  <insert id="insertAuth">
  	INSERT INTO tbl_member_auth
  	(userid, auth)
  	VALUES
  	(#{userid}, #{auth})
  </insert>
  
  
  <select id="read" resultMap="memberMap">
  SELECT 
	m.userid userid,
	m.userpw userpw,
	m.username username,
	m.enabled enabled,
	m.regdate regdate,
	m.updateDate updateDate,
	a.auth auth
  FROM 
    tbl_member m LEFT JOIN tbl_member_auth a ON m.userid = a.userid
  WHERE
    m.userid = #{userid}
  
  </select>
  
  <!-- 책 662쪽 -->
  <resultMap type="org.zerock.domain.MemberVO" id="memberMap">
  	<id property="userid" column="userid" />
  	<result property="userpw" column="userpw" />
  	<result property="userName" column="username" />
  	<result property="regdate" column="regdate" />
  	<result property="updateDate" column="updateDate" />
  	<result property="enabled" column="enabled" />
  	<collection property="authList" resultMap="authMap" />
  </resultMap>
  <resultMap type="org.zerock.domain.AuthVO" id="authMap">
  	<result property="userid" column="userid" />
  	<result property="auth" column="auth" />
  </resultMap>
  
</mapper>
















