<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.Test2Mapper">

	<select id="sql1" resultType="int">
		SELECT count(*) FROM tbl_board WHERE writer = #{t}
	</select>
	
	<select id="sql2" resultType="int" >
		
		<if test='type == "a"'>
			SELECT 1
		</if>
		<if test='type == "b"'>
			SELECT 2
		</if>
	
	</select>

	<select id="sql3" resultType="int">
		SELECT count(*) FROM tbl_board
		WHERE
		
		<if test='type == "a"'>
			writer = 'user00'
		</if>

		<if test='type == "b"'>
			content = 'javajava'
		</if>		
		
	</select>	
</mapper>

















